<mat-list infiniteScroll (scrolled)="onScrollDown()">
  <mat-list-item *ngFor="let character of characters">
    <app-character-card [character]="character" (openEditModal)="openEditModal(character)"></app-character-card>
    <div class="buttonContainer">
      <button mat-icon-button (click)="openEditModal(character)">
        <mat-icon>star</mat-icon>
      </button>
      <button mat-icon-button (click)="openEditModal(character)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <button mat-icon-button *ngIf="showButton" class="upButton" (click)="onScrollTop()">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
</mat-list>
