:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  max-width: 800px;
}

mat-table {
  width: 100%;
  margin-top: 20px;
  overflow-x: auto;
  padding: 0px;
}

.button-container {
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
  max-width: 800px;
  padding: 0px;
}

.mdc-data-table__cell {
  padding-right: 2px;
}

.mdc-data-table__header-cell {
  padding-right: 2px;
}

th,
td,
span {
  @media (width < 768px) {
    font-size: 0.9em;
  }
  @media (width < 460px) {
    font-size: 0.7em;
    padding: 2px;
  }
}
