<h2 mat-dialog-title>Edit Character</h2>
<div mat-dialog-content class="formContainer">
  <form [formGroup]="editForm" (ngSubmit)="onSaveChanges()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Location</mat-label>
      <input matInput placeholder="Location" formControlName="location" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <input matInput placeholder="Status" formControlName="status" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSaveChanges()">Save Changes</button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div>
